{{define "email_image"}}
<div style="height: 200px; overflow: hidden; position: relative; text-align: center;">
    <img src="{{.Event.Image}}" alt="Event image"
        style="width: 100%; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block;" />
</div>
{{end}}

{{define "email_message_pre"}}
<p>Remember to join us for <strong>{{ .Event.Name }}</strong>!.</p>
<p>The event on {{ .Event.Date }} from {{ .Event.StartsAt }} to {{ .Event.EndsAt }} at {{ .Event.Location }}!.</p>
{{end}}

{{define "email_button_url"}}{{.URL}}{{end}}

{{define "email_button_text"}}View event{{end}}

{{define "email_message_post"}}
{{end}}

{{template "base" .}}