{{define "email_image"}}
{{if .CustomImageURL}}
<div style="height: 200px; overflow: hidden; position: relative; text-align: center;">
    <img src="{{.CustomImageURL}}" alt="Event image"
        style="width: 100%; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block;" />
</div>
{{end}}
{{end}}

{{define "email_message_pre"}}
<p>{{.CustomText}}</p>
{{end}}

{{define "email_button_url"}}{{.CustomButtonURL}}{{end}}

{{define "email_button_text"}}{{.CustomButtonText}}{{end}}

{{define "email_message_post"}}
<p>If you do not have an account with {{.AppName}}, please ignore this email.</p>
{{end}}

{{template "base" .}}